.calculus{
    background-color:#f4f4f4;
    padding: 1rem;
    margin-top: 5px;
    display: flex;
    justify-content: space-between; 
}
.fa-money-bill-wave{
    color:#FF5D55;
    font-size: 80px;
}
.fa-thumbs-up{
    color:#355723;
    font-size: 80px;

}
.fa-briefcase{
    color:#3D8AF7;
    font-size: 80px;
}
.fa-calendar-alt{
    color:#FF5D55;
    font-size: 80px;
}
.fa-calendar-alt1{
    color:yellow;
    font-size: 80px;
}
h3{
    font-size: 24px;
}
.jumpstart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}