.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-tabs-top > .ant-tabs-nav {
  margin: 0 0 0px;
}
.fixed-top {
  position: fixed;
  top: 100 !important;
  right: 0;
  left: 0;
  z-index: 1030;
}
.menu {
  display: block;
}
.menuhide {
  display: none;
}
nav {
  display: block;
}
#mainnav ul {
  list-style: none;
  /* margin: 0; */
  /* padding: 0; */
}
#mainnav > ul > li {
  display: inline-block;
  /* padding: 0 6px; */
}
#mainnav ul li {
  position: relative;
}
.header #mainnav > ul > li > a {
  line-height: 100px;
}
#mainnav > ul > li.home > a {
  /* color: #18ba60; */
  color: #ddd;
  padding: 0.2rem 0.6rem;
  text-decoration: none;
  margin-right: 10px;

  /* &:hover {
    color: #ddd;
    text-shadow: 3px 3px 6px #215ca0;
    text-decoration: none;
  } */
}
#mainnav > ul > li > a {
  color: #ddd;
  padding: 0.2rem 0.6rem;
  text-decoration: none;
  margin-right: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#mainnav ul.submenu {
  position: absolute;
  left: 0;
  top: 150%;
  width: 300px;
  text-align: left;
  background-color: #222222;
  z-index: 9999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#mainnav ul.submenu li:first-child {
  border-top: none;
}
#mainnav ul.submenu > li {
  border-top: 1px solid #333333;
}
#mainnav ul li ul li {
  margin-left: 0;
}
#mainnav ul.submenu > li > a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 0 0 20px;
  line-height: 45px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#mainnav ul li:hover > ul.submenu {
  top: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
}
.mega-menu {
  position: absolute;
  background: #26292c;
  color: #fff;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  left: 0;
  top: 60px;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
  overflow: hidden;
  z-index: 4;
}
.mega-menu__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 80px;
  -webkit-column-gap: 80px;
  -moz-column-gap: 80px;
  column-gap: 80px;
  grid-row-gap: 80px;
  row-gap: 80px;
  width: 80%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 80px;
}

li {
  font-size: 20px;
  line-height: 1em;

  margin-bottom: 0;
  word-break: break-word;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

h1 {

  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-family: "Poppins";
  font-size: 1.3em;
}

h2{
 
  color: rgba(0, 0, 0, 0.85);
  font-weight: 700;
  font-family: "Poppins";
  font-size: 1.3em;
}

h3 {
  /* margin-top: 0;
  margin-bottom: 0.5em; */
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-family: 'Poppins';
  font-size:1em
}

h4 {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-family: 'Poppins';
  font-size:0.8em;
}

h5 {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-family: 'Poppins';
  font-size:0.7em;
}

h6 {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-family: 'Poppins';
  font-size:0.6em;
}
.ant-select {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 28px;
  padding: 0 11px;
}
